
  <div class="container mt-4">
    <%= form_with model: @item, url: admin_item_path do |f| %>
    
    <div class="row mb-3">
      <div class="col-xl-1"></div><p class="col-5 col-sm-5 col-xl-2 text-center"><span class="lead">商品編集</span></p>
    </div>
    
    <div class="row mb-3 justify-content-center">
      <label for="inputImage" class="col-sm-4 col-lg-3 col-xl-2 col-form-label">商品画像</label>
      <div class="col-sm-4 col-lg-5 col-xl-5 col-md-4">
        <%= f.file_field :image, accept: "image/*" %>
        </div>
    </div>
    
    <div class="row mb-3 justify-content-center">
      <label for="item_Name" class="col-sm-4 col-lg-3 col-xl-2 col-form-label">商品名</label>
     <div class="col-sm-4 col-lg-5 col-xl-5 col-md-4">
        <%= f.text_field :name, autofocus: true, id:"item_Name", placeholder: "Name", size: "30x10" %>
      </div>
    </div>
    
    <div class="row mb-3 justify-content-center">
      <label for="item_Introduction" class="col-sm-4 col-lg-3 col-xl-2 col-form-label">商品説明</label>
      <div class="col-sm-4 col-lg-5 col-xl-5 col-md-4">
        <%= f.text_area :introduction, autofocus: true, id:"item_Introduction", placeholder: "Introduction", :size => "33x5" %>
      </div>
    </div>
    
    <div class="row mb-3 justify-content-center">
      <label for="item_introduction" class="col-sm-4 col-lg-3 col-xl-2 col-form-label">ジャンル</label>
      <div class="col-sm-4 col-lg-5 col-xl-5 col-md-4">
        <%= f.collection_select :genre_id, Genre.all, :id, :name, :include_blank => "ジャンルを選択してください" %>
      </div>
    </div>
    
    <div class="row mb-3 justify-content-center">
      <label for="item_price" class="col-sm-4 col-lg-3 col-xl-2 col-form-label">税抜価格</label>
      <div class="col-sm-4 col-lg-5 col-xl-5 col-md-4">
       <%= f.text_field :price, autofocus: true, id:"item_Price", placeholder: "Price", size: "30x10" %>
      </div>
    </div>
    
    <div class="row mb-3 justify-content-center">
      <label for="item_is_active" class="col-sm-4 col-lg-3 col-xl-2 col-form-label">販売ステータス</label>
     <div class="col-sm-4 col-lg-5 col-xl-5 col-md-4">
        <label><input type="radio" name="item[is_active]" class="check" value="true" checked="checked">販売中</label>
        <label><input type="radio" name="item[is_active]" class="check" value="false">販売停止中</label>
      </div>
    </div>
    
    <div class="form_action text-center mt-2">
     <%= f.submit "変更を保存", class: "btn btn-success px-4 py-2" %>
    </div>
    
    <% end %>
  </div>  
