<div class="container mt-4">
<div class="row">
<div class="mx-auto col-10 col-xl-6 col-lg-7 col-sm-9 pt-4">

<h2 class="mt-3 border-bottom text-center mb-5">新規登録</h2>
<%= form_with model: @item, url: admin_items_path, method: :post do |f| %>

<div class="form-group">
  　<label for="item_name">商品名</label>
    <input class="form-control item_name" type="text" name="item[name]" id="item_name">
</div>

<div class="form-group">
   <label for="item_introduction">商品説明</label>
   <textarea class="form-control item_introduction" name="item[introduction]" id="item_introduction"></textarea>
</div>

<div class="form-group">
    <label for="item_image">画像</label>
    <%= f.file_field :image, accept: "image/*" %>
</div>

<div class="form_input">
    <%= f.label :genre, 'ジャンル' %>
    <%= f.collection_select :genre_id, Genre.all, :id, :name, :include_blank => "ジャンルを選択してください" %>
</div>

<div class="form-group">
  　<label for="item_price">商品価格</label>
    <input class="form-control item_price" name="item[price]" id="item_price">
</div>

<div class="form_action text-right mt-2">
  <%= f.submit "登録する", class: "btn btn-lg btn-success" %>
  <%= link_to admin_items_path, class: "btn btn-lg btn-warning text-light" do %>戻る
  <% end %>
</div>
<% end %> 

</div>
</div>
</div>