
  <div class="container mt-4">
    
    <div class="row mb-3">
      <p class="col-sm-6 text-center"><span class="lead">商品詳細</span></p>
    </div>
    
    <div class="row">
      <div class="col-sm-4 col-md-4 col-lg-4  col-lg-4 text-center"><%= image_tag @item.get_image, size:"200x200"%></div>
      
      <div class="col-sm-8 col-md-8 col-lg-6 col-xl-6">
        
        <label for="item_name" class="col-4 col-sm-6 col-md-5 col-lg-4 col-xl-4 col-form-label">商品名</label>
        <%= @item.name %></br>
        
        <label for="item_name" class="col-4 col-sm-6 col-md-5  col-lg-4 col-form-label">商品説明</label>
        <%= @item.introduction %></br>
        
        <label for="item_genre" class="col-4 col-sm-6 col-md-5  col-lg-4 col-form-label">ジャンル</label>
        <%= @item.genre.name %></br>
        
        <label for="item_price" class="col-4 col-sm-6 col-md-5  col-lg-4 col-form-label">税込価格</label>
        <%= @item.price %></br>
        
        <label for="item_price" class="col-4 col-sm-6 col-md-5  col-lg-4 col-form-label">販売ステータス</label>
         <%= @item.is_active ? '販売中' : '販売停止中' %></br>
         
        <div class="text-center mt-3 mr-5"> 
          <%= link_to edit_admin_item_path(@item.id), class: "text-light btn btn-success px-4 py-2" do %>編集する
          <% end %>
        </div>
        
      </div>  
      
     
    </div>
 </div>  
