  <% if admin_signed_in?%>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-10">
        <p class="my-4">
          <span class="lead px-3">注文履歴一覧</span>
        </p>
      </div>
    </div>
    
    <table class="table">
      <thead>
        <tr>
          <th>購入日時</th>
          <th>購入者</th>
          <th>注文個数</th>
          <th>注文ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
        <tr>
          <td><%= link_to admin_order_path(order.id), class: "text-dark" do %><%= order.created_at.strftime('%Y/%m/%d %H:%M:%S') %><% end %></td>
          <td><%= order.customer.last_name %><%= order.customer.first_name %></td>
          <td>
            <%= order.order_details.sum(:amount) %>
            
 <!--       <% total_amount = 0 %>
 <!--           <% order.order_details.each do |order_detail| %>-->
 <!--             <% total_amount += order_detail.amount %>-->
 <!--           <% end %>-->
 <!--           <%= total_amount %>          sumを使った計算の方が記述が少ない-->
            
          </td>
          <td><%= order.status_i18n %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    
    <div class="row justify-content-center">
      <%= paginate @orders %>
    </div>
  </div>
  <% end %>
  
  